html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
.walletconnect-modal__mobile__toggle > a {
  color: #106ba3;
  cursor: pointer;
}
/* 
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
